.framesuscripcion
  background-color: $opgriso2
  padding: 20px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: center
  align-items: center
  width: 100%
  .cuadro
    position: relative
    padding: 60px 0px 0px 0px
    width: var(--sizem)
    margin: 0px auto
    text-align: center
    &:after
      content: ''
      height: 1px
      position: absolute
      background-color: $opsuscripcion
      color: $blanco
      bottom: 0px
      right: 0
      display: block
      width: calc(var(--sizem)/1)
      left: calc( calc( 100% - ( calc(var(--sizem)/1)) ) / 2 )
    .texto
      color: $blanco
      font-size: 1em
      font-family: $poppins
    .widget_wysija_cont
      width: 100%
      list-style: none
      margin: 0px auto
      text-align: center
      form
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        align-items: center
        padding: 20px
        text-align: center
        margin: 0px auto
        p.wysija-paragraph
          padding: 20px 20px 35px 20px
          box-sizing: border-box
          position: relative
          display: flex
          flex-direction: row
          flex-wrap: wrap
          justify-content: flex-end
          align-items: center
          @media screen and ( max-width: 640px )
            width: 100%
            justify-content: center
          .formError
            width: 50%
            height: auto
            left: 154px !important
            bottom: 0px !important
            top: 60px !important
            right: 0px !important
            float: right !important
            padding: 5px
            position: absolute
            text-align: center
            @media screen and ( max-width: 991px )
              top: 93px !important
              left: 150px !important
            @media screen and ( max-width: 768px )
              left: 60px !important
            @media screen and ( max-width: 640px )
              left: 33% !important
              width: 50%
            @media screen and ( max-width: 361px )
              left: 13% !important
            @media screen and ( max-width: 318px )
              top: 118px !important
              left: 8% !important
            .formErrorContent
          label
            color: $blanco
            margin-right: 10px
            @media screen and ( max-width: 640px )
              width: 100%
          input[type="text"]
            background-color: $blanco
            padding: 5px
            @media screen and ( max-width: 640px )
              width: 100%
          .wysija-input
            height: 41px
            display: block
            border: 1px solid $opamarillo
        .wysija-submit.wysija-submit-field
          background-color: $opamarillo
          color: $blanco
          padding: 15px 30px 15px 30px
          margin: 3px 0px 0px 10px
          line-height: 0.5em
          font-size: 1em
          height: 41px
          font-size: 1em
          font-family: $poppins
          transition: 0.5s ease
          @media screen and ( min-width: 1000px )
            margin: -27px 0px 0px 10px
          &:hover
            transition: 0.5s ease
            color: $opgriso2
            background-color: $blanco
#totop
  display: none
  text-decoration: none
  position: fixed
  bottom: 40px
  margin-left: 640px
  overflow: hidden
  width: 43px
  height: 28px
  border: none
  text-indent: -999px
  z-index: 20
  background: url("../images/totop.png") no-repeat left 0
  transition: 0s ease
  -o-transition: 0s ease
  -webkit-transition: 0s ease
  &:hover
    outline: none
    background-position: right 0
footer
  width: 100%
  background-color: $opgriso2
  .pie
    background-color: $opgriso2
    min-height: 150px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    box-sizing: border-box
    padding-top: 50px
    padding-bottom: 50px
    .footer-left
      width: 49%
      @media screen and ( max-width: 640px )
        width: 100%
        text-align: center
      p
        font-family: $roboto
        margin: 0px
        padding: 0px
        color: $blanco
        font-size: 0.9em
      a
        color: $opamarillo
        text-decoration: none
        &:hover
          color: $opamarillo
          transition: 0.5s ease
    .search
      width: 100%
      padding-top: 20px
    .footer-right
      width: 49%
      color: $blanco
      float: right
      @media screen and ( max-width: 640px )
        width: 100%
        text-align: center
        margin-top: 12px
    .group
      width: 100%
      text-align: center
      color: $blanco
      line-height: 1.5em
      font-family: 'Economica-Bold'
      text-shadow: 1px 2px 1px #000
      font-size: 1.2em
      background-color: red
/*=================================*/
